#quem-sou{
  height: fit-content;
  width: 100%;
  display: grid;
  grid-template-columns: 360px 3fr;
  gap: 40px;
 
}

.qs-img{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.qs-content{
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
}



.quemsou-call{
  color: #d51247!important;
  text-transform: uppercase;
  font-size: 34px;
  line-height: 1.1em;
  text-align: left;
  max-width: 300px;
  margin-bottom: 22px;
  font-weight: bold;
}

.quemsou-text{
  color: #444;
  font-size: 1.3em;
  line-height: 1.4em;
  text-align: left;
  width: 100%;
}

@media only screen and (max-width:756px){
  #quem-sou{
    height: fit-content;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 20px;
  }  
  .qs-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  
}